body {
  background-color: #ccc;
  width: 100%;
}

#chart {
  background-color: #ccc;
  height: 500px;
  width: 1000px;
  margin: 50px auto;
  border: solid 1px #000;
}

svg {
  background-color: #fff;
}

.dot {
  stroke: #000;
  stroke-width: 1px;
}

.axis line,
.axis path {
  stroke: #bbb;
}

.axis text {
  fill: #bbb;
}
.axisLabel {
  fill: #bbb;
  font: sans-serif;
  font-size: 10px;
}

#tooltip {
  position: absolute;
  background-color: #fff;
  padding: 19px;
  border: solid 1px #000;
  opacity: 0;
}
